#head {
  position: relative;
}

#aboutInf #products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  width: 100%;
}
#aboutInf #products .box {
  width: 250px;
}
#aboutInf #products .box img {
  width: 100%;
}
#aboutInf #products .box button {
  color: #fff;
  background-color: red;
  transition: 1s;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid red;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#aboutInf #products .box button i {
  margin-top: 0.5rem;
  margin: 0 0.3rem;
}
#aboutInf #products .box button:hover {
  background-color: #fff;
  color: red;
}

#filtered {
  margin: 25px 0;
}
#filtered .container .filter input {
  cursor: pointer;
}

#formSec .container {
  display: flex;
  justify-content: center;
}
#formSec .container form {
  width: 50%;
}
#formSec .container form p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px 0;
}

#formDisplay .container #display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
#formDisplay .container #display .box {
  width: 250px;
  padding: 25px;
  box-shadow: 0 1px 10px rgb(0, 0, 0);
}
#formDisplay .container #display .box span {
  font-weight: 500;
  font-size: 18px;
}
#formDisplay .container #display .box button {
  color: #fff;
  background-color: red;
  transition: 1s;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid red;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#formDisplay .container #display .box button:hover {
  background-color: #fff;
  color: red;
}

header {
  position: fixed;
  z-index: 999999;
  width: 100%;
  background-color: #fff;
}
header .container .row .col-xl-4 .believe {
  max-width: 220px;
  font-weight: 500;
}
header .container .row .col-xl-4 .num {
  color: #fff;
  padding: 30px;
  transition: 1s;
  margin-left: 1rem;
  cursor: pointer;
  background-color: rgb(246, 33, 75);
}
header .container .row .col-xl-4 .num:hover {
  color: rgb(246, 33, 75);
  background-color: #fff;
}
header .container .navbar .collapse ul .dropdown:hover .dropdown-menu {
  display: block;
}
header .container .navbar .collapse ul li .active {
  color: rgb(246, 33, 75);
}
header .container .navbar .collapse ul li a {
  color: black;
  transition: 0.5s;
  position: relative;
  font-size: 12px;
  font-weight: 500;
}
header .container .navbar .collapse ul li a:hover {
  color: rgb(246, 33, 75);
}
header .container .navbar .collapse ul li a:hover::after {
  opacity: 1;
  transition: 1s;
  width: 100%;
}
header .container .navbar .collapse ul li a::after {
  content: "";
  height: 2px;
  position: absolute;
  width: 0;
  background-color: rgb(246, 33, 75);
  left: 0;
  bottom: 0;
  opacity: 0;
}

#fitnes {
  background-image: url("../../../assets/Image/header-bg (1).jpg");
  width: 100%;
  height: 45rem;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}
#fitnes .bg {
  width: 100%;
  height: 45rem;
  background-color: black;
  position: absolute;
  top: 0;
  opacity: 0.4;
}
#fitnes .text {
  z-index: 9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#fitnes .text p {
  font-size: 4rem;
  font-weight: bold;
}

#about .container .text-about .headTxt {
  font-size: 2rem;
  font-weight: 500;
}
#about .container #products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  width: 100%;
}
#about .container #products .box {
  width: 250px;
}
#about .container #products .box img {
  width: 100%;
}
#about .container #products .box button {
  color: #fff;
  background-color: green;
  transition: 1s;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid green;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#about .container #products .box button i {
  margin-top: 0.5rem;
  margin: 0 0.3rem;
}
#about .container #products .box button:hover {
  background-color: #fff;
  color: green;
}
#about .container .button #loadMore {
  color: #fff;
  transition: 1s;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
}
#about .container .button #loadMore:hover {
  background-color: #fff;
  color: black;
}

#courses .container .row .col-xl-4 .box .head {
  position: relative;
  width: 100%;
}
#courses .container .row .col-xl-4 .box .head img {
  width: 100%;
}
#courses .container .row .col-xl-4 .box .head p {
  padding: 15px;
  background-color: rgb(246, 33, 75);
  color: #fff;
  max-width: 150px;
  position: absolute;
  bottom: 0px;
  margin: 1rem;
}
#courses .container .row .col-xl-4 .box .text-box .price {
  color: rgb(246, 33, 75);
  font-size: 1.2rem;
  font-weight: 500;
}
#courses .container .row .col-xl-4 .box .text-box .running {
  font-weight: 500;
  font-size: 1.2rem;
}
#courses .container .courseHead {
  font-size: 2rem;
  font-weight: 500;
}

#huge {
  background-image: url("../../../assets/Image/callto-bg.jpg");
  width: 100%;
  height: 25rem;
  position: relative;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  display: flex;
}
#huge .bg {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 25rem;
  opacity: 0.4;
}
#huge .hugeContent {
  z-index: 999 !important;
  color: #fff;
}
#huge .hugeContent .hugetxt {
  font-size: 2.5rem;
  font-weight: 500;
}
#huge .hugeContent button {
  background-color: rgb(246, 33, 75);
  color: #fff;
  border-radius: 25px;
  transition: 1s;
  padding: 10px;
  border: 1px solid rgb(246, 33, 75);
}
#huge .hugeContent button:hover {
  background-color: #fff;
  color: rgb(246, 33, 75);
}

footer .container .logoShare {
  gap: 15px;
}
footer .container .logoShare i {
  padding: 15px;
  background-color: black;
  color: #fff;
  transition: 1s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .logoShare i:hover {
  background-color: rgb(246, 33, 75);
}

@media (max-width: 500px) {
  header .container .connect {
    display: none !important;
  }
  header .container .navbar {
    width: 100%;
  }
}